---
BasedOnStyle: LLVM
Language: C

Standard: Latest

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
IndentCaseLabels: true

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 1

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignEscapedNewlines: Right
AlignOperands: false
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes: false
ReflowComments: false
